body {
	font-family: 'Annie Use Your Telescope', cursive;
}
img.tablet,
img.kindle,
img.phone-wide,
img.phone {
	display: none;
}
#container {
	width: 960px;
	margin: 0 auto;
}
#left-column {
	float: left;
	width: 600px;
}
#map-canvas {
	height: 500px;
	width: 100%;
	float: left;
}
#search {
	float: left;
}
#directions-panel {
	float:left;
	width: 360px;
}
#instructions{
	text-align: center;
	margin:  0 auto;
	margin-top: 220px;
	font-size: 25px;
}
#modal {
	opacity: 0;
	position: fixed;
	width: 400px;
	height: 200px;
	top: 50%;
	left: 50%;
	z-index: 500;
	margin-top: -100px;
	margin-left: -200px;
	background-color: rgba(255,255,255,0.85);
	text-align: center;
	font-size: 30px;
	padding: 15px;
	transition: .4s ease-in-out;
   -moz-transition: .4s ease-in-out;
   -webkit-transition: .4s ease-in-out;
}
#modal.show {
	opacity: 1;
}
#load-img {
	margin: 0 auto;
	top: 50%;
}

